
<div class="flex justify-center mt-6">

    
    <div>

        <div class="flex sm:justify-start">
            <h3 class="font-bold text-3xl text-white">Creá tu cuenta</h3>
        </div>


        <form [formGroup]="formRegistro" autocomplete="off" class="mt-4">

            <div>
                <label class="text-white">Nombre</label>
                <input matInput formControlName="username" class="inputStyle mt-1 w-full sm:w-[27.5rem] transition-propia text-white"  required>
            </div>

            <div class="mt-6">
                <label class="text-white">Apellido</label>
                <input 
                    class="inputStyle mt-1 w-full sm:w-[27.5rem] transition-propia text-white" 
                    type="text" 
                    formControlName="last_name" 
                    required 
                />
            </div>


            <div class="mt-6">
                <label class="text-white">Email</label>
                <input 
                    class="inputStyle mt-1 w-full sm:w-[27.5rem] transition-propia text-white" 
                    type="text" 
                    formControlName="email" 
                    required 
                />
            </div>



            <div class="mt-6">
                <label class="text-white">Contraseña</label>
                <input 
                    class="inputStyle mt-1 w-full sm:w-[27.5rem] transition-propia text-white" 
                    type="password" 
                    formControlName="password" 
                    required 
                />
            </div>


            <div class="mt-6">
                <button
                    class="w-full h-10 rounded-lg text-black text-xl transition-propia"
                    [ngClass]="{'bg-[#ffffff]': formRegistro.valid, 'bg-[#808080]': !formRegistro.valid}"
                    (click)="enviarDatos()"
                    [disabled]="!formRegistro.valid">
                    Crear cuenta
                </button>
            </div>

        </form>


    </div>


</div>