<main>
    <section class="grid-container">

        <div class="card" routerLink="gestion-de-ordenes">Gestión de Ordenes</div>
        <div class="card">Gestión Infraestructura</div>
        <div class="card">Gestión Operarios</div>
        <!-- <div class="card">Lagerplatz-Info</div>
        <div class="card">Umlagern Platz an Platz</div>
        <div class="card">Kanban-Impuls<br><small>PVB SMA1_MM</small></div>
        <div class="card">Verladekontrolle<br><small>Transport</small></div>
        <div class="card">IH-Rückmeldung<br><small>(Sign on glass)</small></div>
        <div class="card">WM: Einlagerung<br><small>WM01_121E</small></div>
        <div class="card">Rückmeldung Fertigungsauftrag</div> -->
    </section>
</main>